.env

# notebooks
.ipynb_checkpoints

# training
CH02/lightning_logs

# images
.png
.pdf
*/figures/*.pdf
*/figures/*.png

# data
data/m3

# models
CH02/model
CH04/lag-llama

# vscode
*.code-workspace
*.code-profile